
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: grey;
}

#mensajeAccion{
    text-align: center;
    font-size: 50px;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}


.centrado{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divSpinner{
    width: 100%;
    height:7vh;
    background-repeat: no-repeat;
    margin: 2% 48%;
}

.contenedorOpciones{
    display: inline-flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}


h2{
    text-align: center;
}

form{
    text-align: center;
}

header{
    height: 10vh;
    margin-bottom: 2vh;
    background-color: yellow;
}

.autoLogo{
    display: block;
    float: left;
}

footer{
    height: 10vh;
    background-color: yellow;

}

.contenedorTransaccion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vh 0;
}

.contenedorImagen{
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgAutos{
    width: 50%;
    margin: 0 auto;
}

ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 10vh;
    align-content: center;
    align-items: center;
    margin: 0;
}

ul>li{
    padding: 0 1vw;
}


header{
    text-align: center;
    width: 100%;
}
  
main{
      width:70%;
      margin: 0 auto;
}

th,td{
    border: 1px solid black;
}

input{
    min-width: 10vw;
    min-height: 2vh;
    margin: 1vh 0;
    width: 100%;
}

.transaccionValue{
    width: 0%;
}

#btnAgregarEditar, #btnEliminar, #btnCancelar{
    width: 20%;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
}

label{
    display: block;
    float: left;
}

#btnEliminar{
    display: none;
    background-color: red;
}

#btnAgregarEditar{
    background-color: aqua;
}

#btnCancelar{
    background-color: yellow;
}

table:hover{
    cursor: pointer;
}

#tituloAnuncios{
    text-align: center;
    background-color: white;
}

.anuncios{
    background-image: url('../assets/anunciosBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedorDetalles{
    display: flex;
    justify-content: space-around;
}

.contenedorCaracteristicas{
    display: inline-flex;
    padding-bottom: 2vh;
}


.contenedorCaracteristicas>input{
    width: 30%;
}

footer>p{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
}

@media screen and (max-width:768px){
    
    .contenedorImagen{
        display: none;
    }
    
    header>nav>ul>li{
        display: none;
    }

    header>nav>ul::after{
        background-image: url('../assets/lista.png');
        background-repeat: no-repeat;
        background-size: 30px 40px;
        display: inline-block;
        width: 40px; 
        height: 40px;
        content: '';
    }

    .autoLogo{
        width: 13vw;
       height: 11vh;
    }


    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}